.eq {
  display: flex;
}

.logo {
  align-items: flex-end;
  justify-content: center;
  gap: 3px;
}

.lineup {
  align-items: flex-end;
  gap: 2px;
  height: 16px;
}

.bar {
  display: block;
  width: 3px;
  border-radius: 2px;
  transform-origin: bottom;
  animation-name: pulse-eq;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
